/ConectorCompleto2022/nbproject/private/
/ConectorCompleto2022/build/
/prueba/nbproject/private/
/AppBiblioteca/nbproject/private/
/AppBiblioteca/build/
/ConectorCompleto2022/dist/
/ProyectoJuego/nbproject/private/
/ProyectoJuego/build/
/juegoProyecto/nbproject/private/
/juegoProyecto/build/
/juegoProyecto/dist/
/ProyectoIpcBank/nbproject/private/
/ProyectoIpcBank/build/
